*,
*:before,
*:after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Myriad Pro Regular";
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    background: white;
}
.container{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
.header_name{
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    background: white;
}
.header_name h1{
    font-size: 25px;
    color: #d7794a;
    font-weight: 400;
}
.nav{
    width: 100%;
    height: 80px;
    background: #8a8e8f;
    display: flex;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 0;
    opacity: 0.8;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 700px;
}
.header_inner a{
    text-decoration: none;
    color: white;
    font-family: 'Myriad Pro';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.05em;
    transition: all .3s linear;
}
.header_inner a:hover{
    color: #3f3f3f;
}
.intro{
    width: 100%;
    height: 700px;
    padding-bottom: 50px;
    background: url(./img/city.jpg)center no-repeat;
    background-size: cover;
}
.intro_main h1{
    font-family: "Baskerville";
    font-size: 72px;
    font-weight: 400;
    color: #fcf9f7;
}
.intro_main h2{
    font-family: "Athelas";
    font-size: 48px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #d7794a;
}
.intro_main{
    text-align: center;
    padding-top: 300px;
}

/* about */

.about{
    width: 100%;
    background: white;
    padding: 200px 0;
}
.about_header{
    max-width: 1140px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
.about_title{
    margin-bottom: 80px;
}
.about_title::after{
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background: #a95e39;
    margin: 20px auto;

}
.about_title h1{
    font-family: "Athelas";
    font-size: 61.2px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #a95e39;
}
.about_subtitle h2{
    font-family: "Helvetica";
    font-size: 30.6px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #000000;
}
.about_main{
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about_item{
    flex-wrap: wrap;
}
.about_text{
    text-align: center;
    width: 370px;
    margin: 30px auto;
}
.about_text h2{
    margin-top: 30px;
}
.about_img img{
    display: block;
    max-width: 448px;
    height: auto;
}
/* statistics */

.statistics{
    width: 100%;
    background: #1f3138;
}
.stat{
    display: flex;
    flex-wrap: wrap;
}
.stat_item{
    flex: 1 1 0;
    padding: 75px 25px;
    text-align: center;
    
}
.stat_count{
    font-family: "Vani";
    font-size: 76.8px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #995437;
}
.stat_text{
    font-family: 'Myriad Pro';
    font-size: 25.6px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
}

/* city */

.city{
    background: url(./img/intro.jpg)center no-repeat;
    
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}
.gray{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0.6;
}
/* contact */

.contact{
    width: 100%;
    height: 100%;
    background: #2a3e47;
}
.contact_header{
    max-width: 770px;
    margin: auto;
    padding-top: 300px;
    text-align: center;
}
.contact_title{
    font-family: "Athelas";
    font-size: 66.3px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-bottom: 50px;
}
.contact_subtitle{
    font-family: 'Quattrocento Sans';
    font-size: 27.7px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #c0c0c0;
    max-width: 1000px;
    margin: auto;
}
.contact_form{
    max-width: 1145px;
    margin: 100px auto;
}
.contact_block1{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact_block1 input,select{
    width: 47%;
    height: 50px;
}




@media (max-width:1200px){
    .about_subtitle{
        max-width: 700px;
        margin: auto;
    }
}

@media (max-width:600px){
    .intro_main h1{
        font-size: 50px;
    }
    .intro_main h2{
        font-size: 25px;
    }
}